
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Helper function to check if a user is signed in
    function isSignedIn() {
      return request.auth != null;
    }

    // Function to check if the user has access to a specific task document in Firestore
    function hasTaskAccess(taskId) {
      let taskDoc = get(/databases/$(database)/documents/tasks/$(taskId));
      // Allow if the user is the creator
      if (taskDoc.data.createdBy.id == request.auth.uid) {
        return true;
      }
      // Allow if the user is one of the assignees
      if (request.auth.uid in taskDoc.data.assigneeIds) {
        return true;
      }
      // Allow if the user is a Super Admin or a Manager of the task's brand
      let userDoc = get(/databases/$(database)/documents/users/$(request.auth.uid));
      return userDoc.data.role == 'Super Admin' || (userDoc.data.role == 'Manager' && taskDoc.data.brandId in userDoc.data.brandIds);
    }

    // Avatars can be read by anyone, but only the user themselves can write.
    match /avatars/{userId} {
      allow read;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }
    
    // Logos can be read by anyone, but only authenticated users can write.
    match /logos/{companyId} {
        allow read;
        allow write: if isSignedIn();
    }

    // Attachments can be read or written only by users who have access to the corresponding task.
    match /attachments/{taskId}/{attachmentId} {
      allow read, write: if isSignedIn() && hasTaskAccess(taskId);
    }
    
    // Social media uploads can be written by authenticated users.
    match /social-media/{companyId}/{mediaId} {
      allow read;
      allow write: if isSignedIn();
    }

    // Deny all other reads and writes by default for security.
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
